<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Average Rating</th>
        <th>Image</th>
        <th>Price</th>
        <th>Review Count</th>
        <th>Stock Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.averageRating }}</td>
        <td>{{ product.image }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.reviewCount }}</td>
        <td>{{ product.stockQuantity }}</td>
      </tr>
    </tbody>
  </table>
</div>
